# Cscope/Tags
/cscope.files
/cscope.out
/tags

# Output
/xenbus
*.log
*.opendb
*.db-shm
*.db
*.db-wal
*.vsidx
*.obj
*.tlog
*.pdb
vs2019/version/.revision
vs2019/.vs/xenbus/v17/.suo
vs2019/xenbus.inf
include/version.h
vs2019/Windows10Release/
vs2019/*/Windows10Release/
vs2019/*/x64/
